.warn {
  position: fixed;
  width: 65vw;
  border-radius: 90px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  left: 50%;
  margin-left: -32.5vw;
  top: -30%;
  z-index: 100000;
}

.di {
  margin-top: 8px;
  position: relative;
  width: 30px;
}

.warn-text {
  color: black;
}


.warn-back {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0%;
  top:0%;
}

.ring {
  width: 15px;
  height: 200px;
  background-color: white;
  position: relative;
  left: 50%;
  margin-left: -7.5px;
  z-index: -1;
}


.hanoi-grid {
  z-index: -10;
  margin-top: 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
