<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta name="Keywords" content="대전대신고등학교, GBL, GBL2021, 대신고" />
  <meta http-equiv="imagetoolbar" content="no"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link href="https://fonts.gstatic.com">
  <title>GBL 2021</title>
  <link href="/img/gbl-logo.svg" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="../common.css">
  <link rel="stylesheet" href="enter.css">
  </head>
<body>
<h5 class="le st gbl">GBL 2021</h5>
<h5 class="le b1 sub">행사와 관련된 여러 정보를 확인하세요.</h5>
<hr class="top-hr">


<h4 class="le te rw" style="display:inline-block; width:70px;">운영 부스</h4>
<h5 class="ri te-all" style="display:inline-block; position:absolute; right:10px;" id="all-booth">전체보기 ></h5>
<div class="wrap">
  <div class="space"></div>
</div>


<hr class="top-hr">
<h4 class="le te" style="display:inline-block; width:70px;">순위</h4>
<h5 class="ri te-all" style="display:inline-block; position:absolute; right:10px;" id="ranking">전체보기 ></h5>

<div class="my-score r1">
<h3 class="dis" style="left:20px; font-weight:100;">내점수</h3><h3 class="dis" id="Score" style="right:20px;">Nan</h3>
</div>
<div class="rank r1">
    <div class="first">
    <img src="/img/gold-medal.svg" height="40px">
    <h5 class="ri rank-t" id="first">Nan</h5>
  </div><br><hr class="rank-hr">

  <div class="first">
  <img src="/img/medal.svg" height="40px">
  <h5 class="ri rank-t" id="second">Nan</h5>
  </div><br><hr class="rank-hr">

  <div class="first">
  <img src="/img/medal (1).svg" height="40px">
  <h5 class="ri rank-t" id="third">Nan</h5>
  </div><br>
</div>


<hr class="top-hr">
<h4 class="le te" style="display:inline-block; width:70px;">활동 내역</h4>
<h5 class="ri te-all" style="display:inline-block; position:absolute; right:10px;">전체보기 ></h5>
<div class="arank hist r1">
<h3 class="le list" style="margin-left:10px;">체험 목록</h3>
<h3 style="display:inline-block; position:absolute; right:30px; color:lightgreen;">+100</h3>
</div>


</body>
<script type="text/javascript" src="../help.js"></script>
<script type="text/javascript" src="/check.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-database.js"></script>
<script type="text/javascript" src="/firebase.js"></script>
<script type="text/javascript" src="/load.js"></script>
<script type="text/javascript" src="enter.js"></script>
</html>
