<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta name="Keywords" content="대전대신고등학교, GBL, GBL2021, 대신고" />
  <meta http-equiv="imagetoolbar" content="no"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <title>GBL 2021</title>
  <link href="../img/gbl-logo.svg" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="common.css">
  <link rel="stylesheet" href="console.css">
  </head>
<body>
<h1>GBL 2021 CONSOLE</h1>
<hr style="border: 0px; height:1px; background-color:white; margin: 10px 0px;">
<h5 class="id le">아이디 추가</h5><br>
<h5 style="display:inline-block; font-weight:100;">아이디</h5>
<input type="text" id="ID"><br>
<h5 style="display:inline-block; font-weight:100;">비밀번호</h5>
<input type="text" id="PW"><br>
<h5 style="display:inline-block; font-weight:100;">이름</h5>
<input type="text" id="NAME"><br>
<button type="button" id="button-add">추가하기</button>

<hr style="margin: 50px;">

<h5 class="id le">부스 추가</h5><br>
<h5 style="display:inline-block; font-weight:100;">부스명</h5>
<input type="text" id="BOOTH"><br>
<h5 style="display:inline-block; font-weight:100;">추가설명</h5>
<input type="text" id="SUB"><br>
<h5 style="display:inline-block; font-weight:100;">이미지 주소</h5>
<input type="text" id="IMG"><br>
<button type="button" id="btn-add" >추가하기</button>



</body>
<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-database.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="firebase.js"></script>
<script type="text/javascript" src="load.js"></script>
<script type="text/javascript" src="console.js"></script>
</html>
