<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta name="Keywords" content="대전대신고등학교, GBL, GBL2021, 대신고" />
  <meta http-equiv="imagetoolbar" content="no"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <title>GBL 2021</title>
  <link href="../img/gbl-logo.svg" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="common.css">

</head>

<body>


    <div class="load blur">
      <div class="back-c shadow rf"> </div>
    </div>
    <div class="back-box r3" style="transform: rotate(45deg); top:-10%; left:-10%;"></div>
    <div class="back-box r3" style="transform: rotate(-45deg); bottom:-10%; right:-10%;"></div>


    <div class="error r2 blur ani">
      <img src="img/warn.svg" height="30px;" class="er-img">
      <h4 class="er-te b0 te-main">아이디 또는 비밀번호가<br> 일치하지 않습니다.</h4>
    </div>

    <h1 class="b0 le main-te ani" style="line-height: 25px; position:fixed; left:30px; top:45px;"><span class="b3 gbl">GBL2021</span><br><span style="font-size:14px; margin-left:5px;">에 오신것을 환영합니다!</span></h1>
  </video>

    <div class="box-lo" style="position:absolute; transition: 0.8s; bottom:50px; left:50%; margin-left:-40vw;">
      <input type="email" class="login r3 id" style="top:500px;" placeholder="아이디"><br>
      <input type="password" class="login r3 pw" style="margin-top: 10px; top:550px;" placeholder="비밀번호"><br>
      <input type="button" id="login-btn" class="lo-button r3" value="로그인">
    </div>



</body>
<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-database.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script type="text/javascript" src="/firebase.js"></script>
<script type="text/javascript" src="/load.js"></script>
<script type="text/javascript" src="/lo-js.js"></script>
</html>
