<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta name="Keywords" content="대전대신고등학교, GBL, GBL2021, 대신고" />
  <meta http-equiv="imagetoolbar" content="no"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <title>GBL 2021</title>
  <link href="../img/gbl-logo.svg" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="common.css">
  <link rel="stylesheet" href="style.css">
  </head>

<body>
    <div class="load blur">
      <div class="back-c shadow rf"> </div>
    </div>

    <div class="back-r shadow rf" style="  right: -70px; top:-10%;"> </div>
    <div class="back-r shadow rf" style="left: -70px; top: 170px;"> </div>
    <div class="back r1 shadow"></div>
    <div class="me">
      <img class="rf" src="https://djdsms.djsch.kr/upload/edit/20170207/IMG_144556.png" height="100px"><br>
      <h5 class="f0 b1">대전대신고</h5>
      <h1 class="f1 b2 name">Nan</h1>
      <h6 class="small-text b1">소제목</h6>
    </div>
    <div class="menu">

      <div class="r1 menu-box shadow" id="Enter">
        <div class="dis">
          <div class="menu-cir rf">
            <img class="menu-pics" src="img/ticket-office.svg" height="35px">
          </div><br>
          <h1 class="f0 b1">입장하기</h1>
        </div>
      </div>


      <div class="r1 menu-box shadow">
        <div class="dis">
          <div class="menu-cir rf">
            <img class="menu-pics" src="img/qr-code.svg">
          </div><br>
          <h1 class="f0 b1">QR코드</h1>
        </div>
      </div>



      <div class="r1 menu-box shadow" id="Game">
        <div class="dis">
          <div class="menu-cir rf">
            <img class="menu-pics" src="img/console.svg" height="35px">
          </div><br>
          <h1 class="f0 b1">게임하기</h1>
        </div>
      </div>


      <div class="r1 menu-box shadow" id="Map">
        <div class="dis">
          <div class="menu-cir rf">
            <img class="menu-pics" src="img/location.svg" height="35px">
          </div><br>
          <h1 class="f0 b1">지도보기</h1>
        </div>
      </div>


      <div class="r1 menu-box shadow" id="Help">
        <div class="dis">
          <div class="menu-cir rf">
            <img class="menu-pics" src="img/information.svg" height="35px">
          </div><br>
          <h1 class="f0 b1">도움요청</h1>
        </div>
      </div>

      <div class="r1 menu-box shadow" id="Logout" style="background-color:rgb(215, 64, 64);">
        <div class="dis">
          <div class="menu-cir rf">
            <img class="menu-pics" src="img/logout.svg" height="35px">
          </div><br>
          <h1 class="f0 b1">로그아웃</h1>
        </div>
      </div>

    </div>
</body>
<script type="text/javascript" src="help.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-database.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/firebase.js"></script>
<script type="text/javascript" src="/load.js"></script>
<script type="text/javascript" src="/script.js"></script>
<script type="text/javascript" src="/check.js"></script>


</html>
